<div class="menu-area">
    <div class="logo">
      <img src="../../../../assets/jm.png" >
    </div>
  
    <ul>
      <li><a [routerLink] ="['/register']">Register</a> </li>
      <li><a [routerLink] ="['/shop']">Shop </a></li>
      <li> <a [routerLink] ="['/favorite']" >favorite</a> </li>
      <li> <a [routerLink] ="['/about']" >About</a> </li>
      <li> <a [routerLink] ="['/contact']" >contact</a> </li>
      <li><a href="#"> <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon> </a></li>
     
   </ul>
  
  </div>
