.footer{
    margin-top: 10px;
    width: 100%;
    position: absolute;
  
    background: linear-gradient(to right ,#00093c , #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.shopping-cart{
    background: linear-gradient(to right ,#00093c , #2d0b00);
    padding-top: 20px;
    padding-bottom: 10px;
}
